:root {
  --first-bg-color: #ebe6e7;
  --second-bg-color: #f6f3f4;
  --first-shadow-color: #90a1b9;
  --second-shadow-color: #a6a09b;
  --first-text-color: #090b10;
  --second-text-color: #fafafa;

  --verified-color: #4f46e5;

  --bg-zing: #fafafa;

  --bg-slate3: #e2e8f0;
  --bg-slate4: #cad5e2;
  --bg-slate5: #90a1b9;
  --bg-slate100: #020618;

  --bg-gray4: #d1d5dc;
}

/* App ------------------------- */

.appHeader {
  width: 100%;
  /* max-width: 25rem; */
  /* min-height: 4rem; */
  /* position: relative; */

  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  /* gap: 4rem; */
}

/* Statistics -------------------- */
.statistics {
  width: fit-content;
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}

.statisticsDiv {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.statisticsCompleted {
  font-size: 0.8em;
}

.statisticsCategory {
  text-align: center;
  font-size: 0.9em;
  font-weight: 400;
}

/* ProfilePicture ------------------- */

/* .profileContainer {
  width: 5rem;
  height: 6rem;

  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 50%;
}

.profileImage {
  width: 4.5rem;
  border-radius: 50%;
} */

/* ProfileHeader ------------------- */

.profileHeaderMain {
  text-align: center;
  margin: 1rem 0 0;
}

.profileHeaderMainDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;

  cursor: pointer;
}

.profileHeaderMainName {
  font-size: 1.5em;
}

.profileHeaderMainDegrees {
  display: flex;
  flex-direction: column;
}

.secondDegree {
  font-size: 0.8em;
}

/* SocialMedia ----------------------- */

.socialMediaContainer {
  width: 100%;
  max-width: 25rem;
  display: flex;
  justify-content: space-between;
  margin: 1rem 0 0;
}

/* Navbar ----------------------- */

/* .active {
  font-size: 0.85em;
  font-weight: 700;
  box-shadow: 0 4px 15px var(--verified-color);
} */

/* AboutPage --------------------- */

.aboutPageContainer {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  font-size: 0.8em;
  font-weight: 300;

  /* overflow: auto; */

  /* margin: 0 0 3rem; */
}

p {
  /* text-wrap: balance; */
  hyphens: auto;
}

/* SkillsPage */

.skillsPageContainer {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  font-size: 0.8em;
  font-weight: 300;

  /* overflow: auto; */

  /* margin: 0 0 3rem; */
}

.skillsPageIconsContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(60px, 100%), 1fr));
  justify-items: center;
  gap: 0.5rem;

  padding: 0.25rem;

  border-radius: 1em;
}

.containerIcon {
  width: fit-content;
  display: flex;
  justify-content: center;
}

/* LabsPage */

.labsContainer {
  display: flex;

  flex-direction: column;
  gap: 1rem;
  font-size: 0.8em;
  font-weight: 300;
  /* overflow: auto; */
  /* margin: 0 0 3rem; */
}

.linksContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(120px, 100%), 1fr));
  align-items: center;
  gap: 0.5rem;
}

/* LabLink */

.link {
  padding: 0.8rem;
  font-weight: 500;
  border-radius: 0.5rem;
}

/* Design Credit ----------- */

.footer {
  position: absolute;
  bottom: 0;

  width: 100%;
  height: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 0 0 1rem 1rem;
  font-size: 0.9em;
  /* background-color: var(--first-bg-color); */
}

.footer a {
  text-decoration: none;

  animation: blink 5s ease infinite;
}

.footer a:hover {
  text-decoration: underline;
}

/* Language Button */

.languageButton {
  position: absolute;
  width: 23px;
  height: 23px;
  top: -0.5rem;
  right: 1.5rem;

  padding: 0.25rem;
  /* color: var(--second-text-color);
  background-color: var(--first-text-color); */
  font-weight: 600;
  border-radius: 50%;
  border: none;
  cursor: pointer;
}

/* .dark_mode {
  color: var(--second-text-color);
} */

@keyframes blink {
  0%,
  100% {
    color: var(--verified-color);
  }

  50% {
    color: var(--first-text-color);
  }
}

/* 
em font-size 
rem box

  transition: box-shadow 0.4s ease-in-out;
  box-shadow: 0 4px 15px var(--bg-stone);
*/
