.mode-btn {
  position: absolute;
  width: 23px;
  height: 23px;
  display: flex;
  justify-content: center;
  align-items: center;
  top: -0.5rem;
  right: 3.5rem;
  z-index: 1;
  color: var(--second-text-color);
  background-color: var(--first-text-color);
  border: 1px solid var(--first-text-color);
  border-radius: 50%;
  cursor: pointer;
}

.logo {
  width: 90%;
  height: 90%;
  /* transition: <propiedades> <duración> <tempo> <retraso>; */
  transition: transform 0.3s ease;
  position: absolute;
}

.moon-icon {
  transform: rotate(0deg);
  opacity: 0;
}

.sun-icon {
  padding: 1px;
  transform: rotate(-40deg);
  opacity: 1;
}

[data-theme="dark"] .moon-icon {
  transform: rotate(40deg);
  opacity: 1;
}

[data-theme="dark"] .sun-icon {
  transform: rotate(0deg);
  opacity: 0;
}
