:root {
  --first-bg-color: #ebe6e7;
  --second-bg-color: #f6f3f4;
  --first-shadow-color: #90a1b9;
  --second-shadow-color: #a6a09b;
  --first-text-color: #090b10;
  --second-text-color: #fafafa;
  /* --fourth-color: #cbd5e1;
  --fitfh-color: #55667c;
  --red-logo: #ea0031; */

  --verified-color: #4f46e5;

  --bg-zing: #fafafa;

  --bg-slate3: #e2e8f0;
  --bg-slate4: #cad5e2;
  --bg-slate5: #90a1b9;
  --bg-slate100: #020618;

  /* --bg-gray2: #f6f3f4;
  --bg-gray3: #ebe6e7; */
  --bg-gray4: #d1d5dc;
}

[data-theme="dark"] {
  --first-bg-color: #090b10;
  --second-bg-color: #0f111a;
  --first-shadow-color: #90a1b9;
  --first-text-color: #ebe6e7;
  --second-text-color: #090b10;
  /* --fourth-color: #cbd5e1; */
  /* --fitfh-color: #55667c; */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  transition: background-color 0.3s ease-in-out,
    color 0.3s ease-in-out;
}

body {
  width: 100vw;
  height: 100vh;
  font-size: 100%;

  display: grid;
  justify-content: center;
  align-content: center;

  /* color: var(--bg-slate100);
  background-color: var(--bg-gray3); */
  color: var(--first-text-color);
  background-color: var(--first-bg-color);

  font-family: "Roboto Mono", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

#root {
  color-scheme: only light;
  width: 92vw;
  max-width: 30rem;
  height: 85vh;
  max-height: 40.5rem;

  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 0 0.7rem; /* 1rem */

  border-radius: 1rem;
  background-color: var(--second-bg-color);
  box-shadow: 0 0.25rem 0.9375rem
    var(--first-shadow-color);
}
