:root {
  --first-bg-color: #ebe6e7;
  --second-bg-color: #f6f3f4;
  --first-shadow-color: #90a1b9;
  --second-shadow-color: #a6a09b;
  --first-text-color: #090b10;
  --second-text-color: #fafafa;
  /* --fourth-color: #cbd5e1;
  --fitfh-color: #55667c;
  --red-logo: #ea0031; */

  --verified-color: #4f46e5;

  --bg-stone: #a6a09b;

  --bg-zing: #fafafa;

  --bg-slate3: #e2e8f0;
  --bg-slate4: #cad5e2;
  --bg-slate5: #90a1b9;
  --bg-slate9: #1d293d;
  --bg-slate100: #020618;

  --bg-gray2: #f6f3f4;
  --bg-gray3: #ebe6e7;
  --bg-gray4: #d1d5dc;
}

.statisticsIconsCourses {
  width: fit-content;
  height: 1.4rem;

  display: flex;
}

.statisticsIconsProjects {
  width: fit-content;
  height: 1.2rem;

  display: flex;
}

.profileHeaderVerified {
  width: fit-content;
  height: 1.5rem;
  display: flex;
  color: var(--verified-color);
}

/* SocialMedia -------------------- */

.socialMediaDiv {
  padding: 0.4rem;
  border-radius: 0.5rem;

  transition: box-shadow 0.4s ease-in-out;
}

.socialMediaDiv:hover {
  box-shadow: 0 4px 15px var(--second-shadow-color);
}

.socialMediaIcons {
  width: fit-content;
  height: 1.6rem;

  display: flex;
  /* color: var(--first-text-color); */
}

/* Skills */

.skillsPageIcons {
  /* width: fit-content;
  min-height: 4rem; */
  width: fit-content;
  min-height: 4rem;
  height: 48px;

  padding: 0.4rem;
  border-radius: 1rem;
}
